# local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# access keys
*.pem
IaC-DEV
IaC-DEV.pub
IaC-PRD
IaC-PRD.pub

# vscode configs
.vscode

# python cache files
__pycache__